@use "../_var.scss" as *;

.setting,
.assign-setting {
    width: calc(100% - 120px);
    background-color: $black-16;
    padding: 2px 0;
    position: relative;

    .full-image {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            min-width: 30%;
        }
    }

    &.two-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .secondary-section {
        position: relative;
        border-left: 1px solid $black-1E;

        &.customRGB-range-section {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .setting-info-menu-left {
            position: absolute;
            left: 140px;
            top: 8px;
            width: max-content;
            height: max-content;
            z-index: 1;

            .setting-info-value {
                font-size: 12px;
                line-height: 1.22;
                color: $white;
            }
        }
    }

    .setting-item {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &.unset-grid {
            display: block;
        }

        &.disabled {
            color: $black-50;
        }

        &.Reset {
            width: 100%;
            position: absolute;
            bottom: 26px;
            z-index: 1;
        }

        &.Back, &.Exit {
            width: 100%;
            position: absolute;
            bottom: 0px;
            z-index: 1;
        }

        .item {
            height: 26px;
            border: 1px solid transparent;
            padding: 0 8px;
            display: flex;
            align-items: center;
            position: relative;

            &.border-bottom-line {
                border-bottom: 1px solid $black-1E;
            }

            &.state-item {
                height: 20px;
                padding: 0 16px;
                color: $dark-gray;
            };

            &.merge-grid,
            &.Back,
            &.Rese {
                grid-column: 1 / 3;
            };

            &.next-page-btn::before {
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                left: calc((100% - 10px) / 2);
                border-style: solid;
                border-width: 10px 5px 0 5px;
                border-color: $white transparent transparent transparent;
            };

            &.previous-page-btn::before {
                position: absolute;
                content: "";
                left: calc((100% - 10px) / 2);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 5px 10px 5px;
                border-color: transparent transparent $white transparent;
            }

            &.disabled {
                color: $black-50;
            }

            &.selected:not(.disabled) {
                background-color: $black;
                border: 1px solid $blue;
                color: $white;

                &.focus {
                    border: 1px solid transparent;
                    position: relative;

                    &::before {
                        position: absolute;
                        content: "";
                        right: 4px;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 5px 0 5px 10px;
                        border-color: transparent transparent transparent  $white;
                    }
                }
            }
        }
    }

    .factory-reset-image {
        position: absolute;
        width: 100%;
        height: calc(100% - 84px);
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 50%;
        }
    }

    .image-scaling {
        display: block;
        font-size: 10px;
        line-height: 1.22;
        color: #f3d139;
        margin: 48px 24px;
    }
}

.assign-setting {
    width: 100%;
    height: 100%;

    &.Information {
        .setting-item {
            grid-template-columns: max-content 1fr;
        }
    }
}