$white: #FFFFFF;
$black: #000000;

$black-09: #090909;
$black-16: #161616;
$black-1E: #1E1E1E;
$black-28: #282828;
$black-1C: #1C1C1C;
$black-50: #505050;

$blue: #49A1F6;
$grey-blue: #6095CE;

$light-grey: #AAAAAA;
$grey: #999999;
$dark-gray: #8C8C8C;

$screen-width: 960px;
$screen-height: 526px;

$text-red: rgb(255, 0, 0);
$text-green: rgb(0, 255, 0);
$text-blue: rgb(0, 0, 255);
$text-yellow: rgb(240, 224, 0);
$text-purple: rgb(191, 15, 250);
$text-light-blue: rgb(104, 149, 209);
$text-orange: rgb(255, 139, 6);
$text-black: rgb(0, 0, 0);
$text-white: rgb(255, 255, 255);